body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  overflow: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  font-size: 100px;
  line-height: 1.2;
  transform: rotateX(-10deg) rotateY(20deg);
  font-weight: 900;
  /* background-color: #fff; */
}

.link {
  text-decoration: none;
  /* background-color: #fff; */
  color: #aaf;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
  outline: 0 none;
}

.link:hover, a:focus {
  transform: rotate(20deg);
  color: #aaf;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
  outline: 0 none;
  background: linear-gradient(to bottom, #ff75d6, #bd60b4, #a37ddf, #5aaee1, #88c6ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

